*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a{
  text-decoration: none;
  color: #92f8ff;
}

a:hover{
  text-shadow: 0 0 10px #c9f3ff;
  color: #ffffff;
}

h2{
  padding: 15px;
}

p{
  padding: 15px 15px 0 15px;
}

.container {
  max-width: 400px;
  margin: 30px auto 10%;
  padding: 20px;
  border-radius: 5px;
  background-color: #202020;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

button {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  background-color: #2a8ba8;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #35a4c5;
}

.form-group-label{
  text-align: start;
  font-size: 20px;
  padding-left: 1px;
}

.invalid-feedback{
  padding: 0;
  color: #ff5151;
  text-shadow: 0px 0px 13px #ff0000;
}