#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  text-align: center;
}

header{
  background-color: #202020;
  padding: 1rem 2rem 0;
  margin: -1rem -2rem;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.nav-flex{
  padding-top: 10px;
}

.nav-text{
  font-size: 18px;
}

.nav-text:hover{
  color: #2f9dbe;
}

.profile{
  font-weight: 500;
  color: #92f8ff;
}

.profile:hover{
  text-shadow: 0 0 10px #c9f3ff;
  color: #ffffff;
}

.main-logo{
  height: 65px;
  margin-top: -8px;
}

.cart-icon{
  height: 30px;
}

/*                           */

.cover{
  height: '160px';
  line-height: '160px';
}

.catalog-search{
  color: black;
}

/*                           */

.footer-container {
  margin: 0 -2rem;
  position: static;
  padding: 20px;
  background-color: #202020;
  color: #FFFFFF;
  bottom: 0;
}

.footer-title {
  border-bottom: #333333 1px solid;
}